<div class="container px-0">
<% if(success && success.length) { %>
	<div class="alert alert-success mt-3 py-1" role="alert">
	  <%= success %>
	</div>
<% } %>

<% if(error && error.length) { %>
	<div class="alert alert-danger mt-3 py-1" role="alert">
	   <%= error %>
	</div>
<% } %>
</div>