<footer class="container mt-3 px-0">
   <nav class="navbar sticky-bottom  navbar-dark bg-dark">
     
     <div class="container h-50">
    <div class="col-md-3 mx-0 ">
      <p class="text-primary"> Links </p>
      <a id="foot" href="/"><i class="fas fa-home"></i> Home</a> <br /> 
      <a id="foot" href="/posts"><i class="fas fa-eye"></i> Fashion</a>
      <p id="foot" href="#"> Powered by food2fork.com </p>
    </div>  
    <div class=" col-md-3">
      <p class="text-primary"> Contact </p>
      <p id="foot" class="mt-2 mb-1"><i class="far fa-envelope"></i> nduross1@gmail.com</p>
      <p id="foot" class="mt-0"> <i class="fas fa-phone"></i> 07030486973</p>
    </div>
     <div class="col-md-3">
      <p class="text-primary mt-3"> About </p>
      <P id="foot" class="mt-0">
      Styleswag is about fashion and food recipes.   
      Users upload different fashion designs and are 
   also informed of different food recipes.
      </P>
      <p id="foot"> copyright - 2019 </p>
     </div>
                  
      </div>
    </nav>
    
</footer>