<% layout('layouts/boilerplate') -%>
<div class="container col-12 col-sm-3">
    <h5 class="text-center"> Sign up</h5>
<form action="/register" method="POST">
<div class="form-group mb-0">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" value="<%= username %>"required  >
</div>
<div class="form-group mb-0">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= email %>" required>
</div>
<div class="form-group mb-0">
    <label for="passowrd">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
</div>
<div class="form-group mb-0">
    <label for="isAdmin">Ref code</label>
    <input type="text" class="form-control" id="isAdmin" name="isAdmin" placeholder="optional">
</div>
<button type="submit" class="btn btn-primary mt-3">Sign up</button>

</form>

Or <a href="/login"> Sign in</a>
</div>
